*{
    margin: 0;
    padding: 0;
}

header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;			
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background: #6d8000;
    padding: 15px 20px;
}

header .logo{
    position: relative;
    color: #6d8000;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #6d8000;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

.zona-img{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(barcobonito.jpg);
    background-size: cover;
    background-position: center center;
}

header.abajo .logo,
header.abajo ul li a{
    color: #000;
}

.texto-img{
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 4%;
    width: 460px;
    font-family: helvetica;
    background-color: #43434365;
}



.zona-barra{
    background: #6d8000;
    font-family: helvetica;

}

.proporcion-centrado{
    width: 600px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}


/* parde de contenedores */


.content {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 15rem;
    width: 21rem;
    background: #101010;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #6d8000;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #6d8000;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.content p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
    font-family: helvetica;
} 

.content h1 {
    font-family: helvetica;
    color: #fff;

} 

/* parte imagenes card */

.imgcard2{
    background-color: #1f1d1d;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer{
    background-image:linear-gradient(to right, #434343 1%, rgb(0, 0, 0) 100%);
    padding-bottom: 0.1px;
}
.contact-us{
    width: 40%;
    color: #fff;
}